## .NET
bin/
obj/
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]uild[Ll]og.*

## VS Code
.vscode/

## Visual Studio for Mac
.idea/
.vscode/
*.userprefs

## macOS
.DS_Store

## Android
*.apk
*.ap_
*.aab
.gradle/
local.properties
.externalNativeBuild/
.cxx/
*.iml
*.dex

## iOS/macCatalyst
build-ios/
build-maccatalyst/
*.xcworkspace/
*.xcuserstate
*.xcuserdata/
*.xcodeproj/
*.xcconfig
*.entitlements
*.plist
*.pbxproj
*.xcassets
Pods/
DerivedData/
*.mobileprovision

## Windows
*.appx
*.appxbundle
*.appxupload
*.msix
*.msixbundle
*.msixupload

## MAUI Specific
Platforms/**/bin/
Platforms/**/obj/
Resources/Raw/*.zip

## JetBrains IDEs
.idea/
*.sln.iml

## Rider
.idea/

## Logs
*.log

## Temporary files
*.tmp
*.temp
*.bak
